<div class="container-fluid py-md-2 mt-5 bg-light text-left">
<div class="container">
<footer class="pt-4 pt-md-2 border-top">
        <div class="row">
	     <div class="col-lg-2 footercolumn">
	     	<img src="{{'/assets/imgs/remix_logo_background.svg' | relative_url }}" alt="remix_logo" width="" height="60" />
	     </div>    
	     <div class="col-lg-2 footercolumn">
		     
	     </div>
		{% for t in site.data.footer.columns %}
          <div class="col-lg-2 footercolumn">
            <h5 class="subtitle">{{t.title}}</h5>
            <ul class="list-unstyled text-small">
	          {% for i in t.items %}
              <li><a class="text-muted" target="_blank" href="{{i.href}}">{{i.title}}</a></li>
			  {% endfor %}
            </ul>
          </div>
         {% endfor %}
        </div>
      </footer>
</div>
</div>
