<div class="owl-carousel owl-theme">
  {% for item in section.gallery %}
    <div class="item">
    {% if item.type == 'img' %}
      <img src="{{item.src  | absolute_url }}"/>
    {% elsif item.type =='youtube' %}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{item.src}}" allowfullscreen></iframe>
    </div>
    {% elsif item.type =='video' %}
      <video muted class="w-100" autoplay>
        <source src="{{item.src  | absolute_url }}" type="video/mp4">
          Your browser does not support the video tag.
    </video>
    {% elsif item.type =='text' %}
      <samp>{{item.content | markdownify}}</samp>
    {% elsif item.type =='html' %}
      {{item.content}}
    {% elsif item.type =='card' %}
      {% include card.html item=item %}
    {% endif %}
    </div>
  {% endfor %}
</div>
