<script src="https://kit.fontawesome.com/0e9a982e24.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{'/assets/OwlCarousel2-2.3.4%202/dist/owl.carousel.min.js' | absolute_url }}" type="text/javascript"></script>
<script src="{{'/assets/js/main.js' | absolute_url }}" type="text/javascript"></script>
<script type="text/javascript" src="{{'/assets/js/aos.js' | absolute_url }}"></script>
