{% for section in site.data.sections.sections %}
<div class="container-fluid">
  <div class="container mb-5 section">
    <div class="row" style="">

      <div class="col-md-6 col-lg-3 {% cycle '', 'order-md-2' %}" style="background-image: url({{'/assets/imgs/remix_logo_background.svg' | absolute_url}}); background-repeat: no-repeat;">
        <h2 class="featurette-heading">
          {{section.title}}<br>
          <span class="subtitle">{{section.subtitle}}</span>
        </h2>
        <p class="lead">
          {{section.text | markdownify }}
        </p>
        {% for button in section.buttons %}

        <a href="{{button.href}}" target="_blank" class=" button {{button.style}}">{{button.title}}</a><br /><br />
        {% endfor %}
      </div>
      <div class="col-md-6 col-lg-9 {% cycle '', 'order-md-1' %}">

        {% if section.mp4 %}
        <video muted class="w-100" autoplay>
          <source src="{{section.webm  | absolute_url}}" type="video/webm">
          <source src="{{section.mp4  | absolute_url}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        {% elsif section.gallery!=nil %}

        {% include gallery.html section=section %}

        {% elsif section.img %}
        <img class="w-100" data-src="holder.js/500x500/auto" alt="500x500" src="{{section.img  | absolute_url }}" data-holder-rendered="true">
        {% elsif section.code %}
        <div class="jumbotron">
          <pre><code>{{section.code}}</code></pre>
        </div>
        {% elsif section.list %}
        <div class="row">
          {% for item in section.list %}
          {% if item.type =='card' %}
          {% include card-list.html item=item %}
          {% endif %}
          {% if item.type =='horizontal' %}
          {% include horizontal-list.html item=item %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>
{% endfor %}
