<div class="container text-center">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">{{site.data.team.title}}</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">{{site.data.team.description}}
</p>

  <div class="row">
    {% for t in site.data.team.members %}
    <div class="col-lg-4 team-member">


	    <svg class="clip-svg">
		  <defs>
		    <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
		      <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
		    </clipPath>
		  </defs>
		</svg>


		<img class="" src="{{t.img  | absolute_url }}" alt="Generic placeholder image" width="140" height="140">



      <h4 style="color: white;">{{t.name}}</h4>
      <h4 class="subtitle">{{t.position}}</h4>


      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        {% if t.facebook %}
        <a href="{{t.facebook}}" target="_blank" class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        {% endif %}
        {% if t.twitter %}
        <!-- Twitter -->
        <a href="{{t.twitter}}" target="_blank" class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter blue-text"> </i>
        </a>
         {% endif %}
        {% if t.linkedin %}
        <!-- Instagram -->
        <a href="{{t.linkedin}}" target="_blank" class="p-2 fa-lg ins-ic">
          <i class="fab fa-linkedin blue-text"> </i>
        </a>
         {% endif %}
        {% if t.github %}
        <!-- github -->
        <a href="{{t.github}}" target="_blank" class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a>
         {% endif %}
      </ul>
      {% if t.bio %}
	  <p class="quotebio">{{t.bio}}</p>
	  {% endif %}
    </div>
    {% endfor %}
  </div>

</div>
