@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scroll-behavior: smooth;
    }

    h1 {
        @apply font-thin;
        @apply text-black;
        @apply text-7.5xl;
    }
    h2 {
        @apply font-bold;
        @apply text-black;
    }

    button {
        @apply hover:opacity-90
    }
}

.blur-backdrop::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 95%;
    background: white;
    z-index: -1;  
}

:root {
    box-sizing: border-box;  
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
  }
  